<p id="notice"><%= notice %></p>

<p>
  <strong>Contenu:</strong>
  <%= @commentaire.contenu %>
</p>

<p>
  <strong>Date:</strong>
  <%= @commentaire.date %>
</p>

<p>
  <strong>Post:</strong>
  <%= @commentaire.post_id %>
</p>

<p>
  <strong>Auteur:</strong>
  <%= @commentaire.auteur %>
</p>
